@media (min-width: 50rem) {
	div.page > header.header > div.header.sl-flex {
		display: grid;
	}
}

.muted {
	color: var(--sl-color-gray-3);
}

/* headerless table fix */
tbody:first-child tr:first-child td {
	border-top: 1px solid var(--sl-color-gray-5);
}

table.full-width {
	display: table;
	width: 100%;
}

a.right-sidebar-link {
	display: block;
	font-size: var(--sl-text-xs);
	text-decoration: none;
	color: var(--sl-color-gray-3);
	overflow-wrap: anywhere;

	--pad-inline: 0.5rem;
	display: block;
	border-radius: 0.25rem;
	padding-block: 0.25rem;
	padding-inline: var(--pad-inline) var(--pad-inline);
	line-height: 1.25;
}

a.right-sidebar-link:hover {
	color: var(--sl-color-white);
}

@media (min-width: 72rem) {
	.only-show-small {
		display: none;
	}
}

/* remove extra colors */
:root,
:root[data-theme='light'] {
	--sl-color-bg-nav: var(--sl-color-bg);
	--sl-color-bg-sidebar: var(--sl-color-bg);

	/* rounded code blocks */
	--ec-brdRad: 0.5rem !important;
	--ec-brdWd: 0px !important;
}

/* Nice scroll bars */
* {
	scrollbar-color: var(--sl-color-gray-6) var(--sl-color-bg);
	scrollbar-width: thin;
}

.expressive-code pre {
	scrollbar-color: var(--sl-color-gray-5) var(--sl-color-gray-6) !important;
	scrollbar-width: thin !important;
}

/* Sidebar active page */
[aria-current='page'],
[aria-current='page']:hover,
[aria-current='page']:focus {
	color: var(--sl-color-text-accent);
	background-color: var(--sl-color-gray-6);
}

/* Remove some borders */
.right-sidebar {
	border: none;
}

.content-panel + .content-panel {
	border: none;
}

.sidebar-pane {
	border: none;
}

.header {
	border: none;
}

summary#starlight__on-this-page--mobile {
	border: none;
}

/* rounded asides */
aside.starlight-aside {
	border: none;
	border-radius: 0.5rem;
}

/* Graph actions container */
.chart-actions {
	position: absolute;
	top: 24px;
	right: 8px;

	display: flex;
	flex-direction: row;
	gap: 8px;
}

.chart-actions button.chart-action {
	padding: 2px;
	border: 1px solid var(--sl-color-gray-3);
	border-radius: 20%;
}

.chart-actions button.chart-action:disabled {
	color: var(--sl-color-gray-5);
	border-color: var(--sl-color-gray-6);
}

/* Timeline */

.timeline {
	--timeline-element-indicator-size: 12px;
	--timeline-guide-spacing: 16px;
	--timeline-guide-width: 2px;
	--timeline-group-spacing: 32px;
	--timeline-background-color: var(--sl-color-bg);
}

.timeline > .timeline-group:first-child {
	--timeline-group-spacing: 0px;
}

.timeline > .timeline-group {
	position: relative;
	margin-top: 0;
	margin-left: var(--timeline-guide-spacing);
	padding-left: var(--timeline-guide-spacing);
	border-left: var(--timeline-guide-width) solid var(--sl-color-gray-5);
	padding-top: var(--timeline-group-spacing);
}

.timeline > .timeline-group > .timeline-group-heading {
	font-size: var(--sl-text-xl);
}

.timeline-group-heading::before {
	position: absolute;
	content: '';
	top: calc(var(--timeline-group-spacing) + var(--sl-text-xl) / 2 + var(--sl-text-xl) / 5 - var(--timeline-element-indicator-size) / 2);
	left: calc(var(--timeline-element-indicator-size) / -2 + var(--timeline-guide-width) / -2);
	width: var(--timeline-element-indicator-size);
	height: var(--timeline-element-indicator-size);
	border-radius: 50%;
	background-color: var(--sl-color-text-accent);
}

.timeline-element > .timeline-element-heading {
	font-size: var(--sl-text-base);
}

.timeline-element {
	position: relative;
}

/* .timeline-element::before {
	position: absolute;
	content: '';
	top: calc(var(--sl-text-base) / 2 + var(--sl-text-base) / 5 - var(--timeline-element-indicator-size) / 2);
	left: calc(-1 * var(--timeline-guide-spacing) + var(--timeline-element-indicator-size) / -2 + var(--timeline-guide-width) / -2);
	width: var(--timeline-element-indicator-size);
	height: var(--timeline-element-indicator-size);
	border-radius: 50%;
	background-color: var(--timeline-background-color);
	border: 1px solid var(--sl-color-text-accent);
} */

.timeline-element > p {
	margin-top: 0.5rem !important;
}

.no-overflow-clip > div > svg {
	overflow: visible;
}

.high-z-index {
	z-index: 1000;
}

@keyframes spinner {
	to {
		transform: rotate(360deg);
	}
}

.chart-placeholder {
	margin-block: 1rem;
	width: 100%;
	aspect-ratio: 16 / 9;
	position: relative;
}

.chart-placeholder::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 24px;
	height: 24px;
	margin-top: -12px;
	margin-left: -12px;
	border-radius: 50%;
	border: 2px solid var(--sl-color-bg-accent);
	border-top-color: transparent;
	animation: spinner 600ms linear infinite;
}

.chart-wrapper {
	margin-block: 1rem;
}
