.muted {
	color: var(--sl-color-gray-3);
}

/* headerless table fix */
tbody:first-child tr:first-child td {
	border-top: 1px solid var(--sl-color-gray-5);
}

table.full-width {
	display: table;
	width: 100%;
}

a.right-sidebar-link {
	display: block;
	font-size: var(--sl-text-xs);
	text-decoration: none;
	color: var(--sl-color-gray-3);
	overflow-wrap: anywhere;

	--pad-inline: 0.5rem;
	display: block;
	border-radius: 0.25rem;
	padding-block: 0.25rem;
	padding-inline: var(--pad-inline) var(--pad-inline);
	line-height: 1.25;
}

@media (min-width: 72rem) {
	.only-show-small {
		display: none;
	}
}

/* remove extra colors */
:root,
:root[data-theme='light'] {
	--sl-color-bg-nav: var(--sl-color-bg);
	--sl-color-bg-sidebar: var(--sl-color-bg);

	/* rounded code blocks */
	--ec-brdRad: 0.5rem !important;
	--ec-brdWd: 0px !important;
}

/* Nice scroll bars */
* {
	scrollbar-color: var(--sl-color-gray-6) var(--sl-color-bg);
	scrollbar-width: thin;
}

.expressive-code pre {
	scrollbar-color: var(--sl-color-gray-5) var(--sl-color-gray-6) !important;
	scrollbar-width: thin !important;
}

/* Sidebar active page */
[aria-current='page'],
[aria-current='page']:hover,
[aria-current='page']:focus {
	color: var(--sl-color-text-accent);
	background-color: var(--sl-color-gray-6);
}

/* Remove some borders */
.right-sidebar {
	border: none;
}

.content-panel + .content-panel {
	border: none;
}

.sidebar-pane {
	border: none;
}

.header {
	border: none;
}

summary#starlight__on-this-page--mobile {
	border: none;
}

/* rounded asides */
aside.starlight-aside {
	border: none;
	border-radius: 0.5rem;
}

/* Graph actions container */
.chart-actions {
	position: absolute;
	top: 24px;
	right: 8px;

	display: flex;
	flex-direction: row;
	gap: 8px;
}

.chart-actions button.chart-action {
	padding: 2px;
	border: 1px solid var(--sl-color-gray-3);
	border-radius: 20%;
}

.chart-actions button.chart-action:disabled {
	color: var(--sl-color-gray-5);
	border-color: var(--sl-color-gray-6);
}
