---
import PluginDataFile from '../../../../plugin-data.json' assert { type: 'json' };
import { getPluginRemovedRecentList } from '../../../../src/plugin/data';
import PluginLink from '../pluginLink.astro';
import Commit from '../commit.astro';

const retiredPlugins = getPluginRemovedRecentList(PluginDataFile);
---

<table>
	<thead>
		<tr>
			<th>Plugin</th>
			<th>Removed Date</th>
		</tr>
	</thead>
	<tbody>
		{
			retiredPlugins.map(x => (
				<tr>
					<td>
						<PluginLink id={x.id} />
					</td>
					<td>
						<Commit commit={x.removedCommit} />
					</td>
				</tr>
			))
		}
	</tbody>
</table>
