---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';
import ThemesIndex from '../../components/svelte/indexPages/themesIndex.svelte';
import { getThemeData } from '../../../../src/utils';
---

<StarlightPage
	frontmatter={{
		title: 'Theme Overview',
		description: `Overview of all Obsidian themes.`,
		head: [
			{
				tag: 'style',
				content: ':root { --sl-content-width: 90rem !important; }',
			},
		],
		tableOfContents: false,
	}}
>
	<p>This table shows all themes ever available on the community plugin page. You can sort the table by clicking on the column headers.</p>

	<ThemesIndex data={getThemeData()} client:only="svelte" />
</StarlightPage>
