---
import { type Commit } from '../../../src/types';
import { dateToString } from '../utils/utils';
const { commit } = Astro.props as { commit: Commit };
const url = 'https://github.com/obsidianmd/obsidian-releases/commit/' + commit.hash;
const date = new Date(commit.date);
const dateStr = dateToString(date);
---

<a href={url} target="_blank">{dateStr}</a>
