---
import { getDownloadDataPoints, getDownloadReleaseCorrelationDataPoints } from '../utils/utils';
import PluginDataFile from '../../../plugin-data.json' assert { type: 'json' };
import PluginDownloadChart from './svelte/pluginDownloadChart.svelte';
import PluginReleaseDownloadsCorrelationChart from './svelte/pluginReleaseDownloadsCorrelationChart.svelte';

const downloadDataPoints = getDownloadDataPoints(PluginDataFile);
const downloadReleaseCorrelationDataPoints = getDownloadReleaseCorrelationDataPoints(PluginDataFile);
---

<h2>Plugin Download Stats</h2>

<p>The first graph depicts the total number of plugin downloads over time. The second graph shows the number of new plugin downloads per week.</p>

<PluginDownloadChart dataPoints={downloadDataPoints} client:only="svelte" />

<h2>Plugin Downloads Correlations</h2>

<p>
	The first figure shows the correlation between the number of downloads and the number of releases. The second figure shows the correlation between the number
	of downloads and the initial release time.
</p>

<PluginReleaseDownloadsCorrelationChart dataPoints={downloadReleaseCorrelationDataPoints} client:only="svelte" />
