---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';
import DataIndex from '../../components/svelte/DataIndex.svelte';
import { getPluginDataArray } from '../../utils/data';
import { ItemType } from '../../utils/misc';

const dataArray = await getPluginDataArray();
const view = dataArray.view();
const data = view.overview(dataArray);
---

<StarlightPage
	frontmatter={{
		title: 'Plugin Overview',
		description: `Overview of all Obsidian plugins.`,
		head: [
			{
				tag: 'style',
				content: ':root { --sl-content-width: 90rem !important; }',
			},
		],
		tableOfContents: false,
	}}
>
	<p>
		This table shows all plugins ever available on the community plugin page. The table allows sorting and searching across all columns, or specific ones via
		filters like <code>name:</code>, <code>author:</code>, <code>repo:</code>, and <code>id:</code>.
	</p>

	<DataIndex data={data} type={ItemType.Plugin} client:only="svelte" />
</StarlightPage>
