---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';
import DataIndex from '../../components/newSvelte/DataIndex.svelte';
import { getPluginDataArray } from '../../utils/data';
import { ItemType } from '../../utils/misc';

const dataArray = await getPluginDataArray();
const view = dataArray.view();
const data = view.overview(dataArray);
---

<StarlightPage
	frontmatter={{
		title: 'Plugin Overview',
		description: `Overview of all Obsidian plugins.`,
		head: [
			{
				tag: 'style',
				content: ':root { --sl-content-width: 90rem !important; }',
			},
		],
		tableOfContents: false,
	}}
>
	<p>This table shows all plugins ever available on the community plugin page. You can sort the table by clicking on the column headers.</p>

	<DataIndex data={data} type={ItemType.Plugin} client:only="svelte" />
</StarlightPage>
