---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';
import { getPluginDataArray } from '../../utils/data';
import InactivityByReleaseChart from '../../components/svelte/charts/updates/InactivityByReleaseChart.svelte';
import InactivityDistributionChart from '../../components/svelte/charts/updates/InactivityDistributionChart.svelte';

const data = await getPluginDataArray();
const view = data.view();

const inactivityDataPoints = view.inactivity_by_release_month(data);
const inactivityDistributionDataPoints = Array.from(view.inactivity_distribution(data));
---

<StarlightPage
	frontmatter={{
		title: 'Plugin Updates',
		description: `Statistics on plugin updates.`,
	}}
>
	<p>
		Plugin updates are important for the security and functionality of a plugin. Even though the Obsidian plugin API is very stable and things rarely get
		changed, it's can still happen that a plugin no longer works as expected on a new version of Obsidian, especially when a plugin uses undocumented parts of
		the API. Though it is worth noting that a plugin can work perfectly fine for years without any updates.
	</p>

	<p>The following chart shows the overall distribution of plugin inactivity.</p>

	<InactivityDistributionChart dataPoints={inactivityDistributionDataPoints} client:visible />

	<p>
		The next chart shows years of inactivity grouped by the month in which the plugin was released. The negative space represents the percentage of plugins that
		have been updated within the last year.
	</p>

	<InactivityByReleaseChart dataPoints={inactivityDataPoints} client:visible />
</StarlightPage>
